<div class = "homeContainer">
    <div class = "headerContainer">
        <app-carousel-header [data] = "currentPlayingData" [type] = "Movietype"></app-carousel-header>
    </div>
    <div class = "itemContainer">
        <app-carousel-item [data] = "continueWatchData" [title] = "continueWatchtitle" ></app-carousel-item>
        <app-carousel-item [data] = "popularMovieData" [title] = "popularMovietitle" ></app-carousel-item>
        <app-carousel-item [data] = "topRatedMovieData" [title] = "topRatedMovietitle" ></app-carousel-item>
        <app-carousel-item [data] = "trendingMovieData" [title] = "trendingMovietitle" ></app-carousel-item>
        <app-carousel-item [data] = "popularTVData" [title] = "popularTVtitle" ></app-carousel-item>
        <app-carousel-item [data] = "topRatedTVData" [title] = "topRatedTVtitle" ></app-carousel-item>
        <app-carousel-item [data] = "trendingTVData" [title] = "trendingTVtitle"></app-carousel-item>
    </div>
</div>

